@font-face {
  font-family: 'RickMortyFont';
  src: url('../media/font/get_schwifty.ttf') format('truetype');
}

body {
  min-height: 100vh;
  background-color: #434343;
  margin: 0;
  background-color: #434343;
}

.header-logo {
  width: 100vw;
  height: 200px;
}

.intro-container {
  display: flex;
  max-width: max-content;
}

.morty-intro, .rick-intro, .logo {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rick-intro {
  animation: moveRickOutwards 3s forwards, fadeOut 1s 6s forwards;
}

.morty-intro {
  animation: moveMortyOutwards 3s forwards;
}

.logo {
  opacity: 0;
  animation: popLogo 2s 1s forwards, pauseLogo 1.5s 3s forwards, moveToTop 2s 4.5s forwards;
}

@keyframes moveRickOutwards {
  0% { left: 50%; transform: translate(-50%, -50%); }
  100% { left: 100%; transform: translate(-100%, -50%); }  
}

@keyframes moveMortyOutwards {
  0% { left: 50%; transform: translate(-50%, -50%); }
  100% { left: 0%; transform: translate(0%, -50%); }  
}

@keyframes popLogo {
  0% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
  50% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

@keyframes pauseLogo {
  0%, 100% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes moveToTop {
  0% { transform: translate(-50%, 0%) scale(1); }
  100% { transform: translate(-50%, -150%) scale(1); }
}

/* .layout > * {display: none;} */

.modal{Position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;z-index: 9999;}
.sidebar {
  min-height: 100vh; /
}

.episode-item {
  cursor: pointer; /* If you want each episode item to appear clickable */
}




.card-img-left {
  width: 100px;
}


.layout {
  overflow-y: auto;

}

 .display {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-height: 100vh;
}




.card {
  text-align: center;
  width: 23%;
}


:root {
  --morty-yellow: hsl(50, 100%, 50%);
  --rick-blue: hsl(202, 100%, 38%);
  --portal-green: hsl(156, 100%, 61%);
  --spacecraft-silver: hsl(200, 5%, 66%);
  --pickle-rick-green: hsl(110, 46%, 55%);
  --void-black: hsl(0, 0%, 0%);
  --plumbus-pink: hsl(332, 100%, 72%);
  --galactic-gray: hsl(216, 9%, 21%);
  --beth-wine: hsl(341, 59%, 35%);
  --meeseeks-blue: hsl(214, 100%, 66%);
}





.accordion{background-color: transparent;
}

.accordion-header {
  text-align: center;
  font-size: 50px;
  font-family: 'RickMortyFont';
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #95f396;
  -webkit-text-fill-color: #8ADAFF;
 
}
